

  table.flashcard {
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  table.flashcard td {
    vertical-align: top;
    text-align: center;
  }

  table.flashcard td.expr {
    height: 250px;
    padding-top: 60px;
    font-family: "MS Mincho";
    font-size: 38pt;
  }


  table.kanaeigo {
    border-collapse: collapse;
    width: 500px;
    max-width: 600px;
  }

  table.kanaeigo td {
    vertical-align: middle;
  }

  table.kanaeigo td.kana {
    font-family: "MS PMincho";
    font-weight: bold;
    text-align: left;
    padding-top: 17px;
    font-size: 15pt;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 0px;
    border-top: 1px solid #E8E8E8;
  }

  table.kanaeigo td.alts {
    font-family: "MS PMincho";
    font-size: 12pt;
    text-align: right;
    padding-top: 17px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 0px;
    border-top: 1px solid #E8E8E8;
  }

  table.kanaeigo td.eigo {
    font-family: "Tahoma";
    font-size: 9pt;
    text-align: left;
    padding-top: 13px;
    padding-bottom: 18px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #E8E8E8;
  }



  span.gray {
    color: #A2A2A2;
  }



