_res/.marshal/

_res/dict/edict.utf8
_res/dict/edict.sqlite
_res/dict/kanjidic.utf8

_ankiprep/__OUT__/
_ankiprep/scratch*.rb

libs/kanji/flashcard/t/__OUT__/
libs/vocab/flashcard/t/__OUT__/

_ankiprep/report-kanji.html
_ankiprep/report-vocab.html
_ankiprep/log.txt

_server/cpp/bassplay/.vs/
_server/cpp/bassplay/Release/
_server/cpp/bassplay/Debug/
_server/cpp/bassplay/x64/

_server/cpp/copytocb/.vs/
_server/cpp/copytocb/Release/
_server/cpp/copytocb/Debug/
_server/cpp/copytocb/x64/

_server/log.txt

todo.txt
