_ankiprep/__OUT__/
_ankiprep/kanji-flashcard/t/__gen
_ankiprep/report-kanji.html
_ankiprep/report-vocab.html
_ankiprep/log.txt
_ankiprep/kanji-flashcard/t/__OUT__/
_ankiprep/vocab-flashcard/t/__OUT__/

_server/cpp/bassplay/.vs/
_server/cpp/bassplay/Release/
_server/cpp/bassplay/Debug/
_server/cpp/bassplay/x64/

_server/cpp/copytocb/.vs/
_server/cpp/copytocb/Release/
_server/cpp/copytocb/Debug/
_server/cpp/copytocb/x64/

_server/bassplay.exe
_server/copytocb.exe