body {
  margin: 30px;
  background-color: black; /*#303030;*/
}

table.holder {
}

table.holder td.column {
  padding-left: 3px;
  padding-right: 3px;
  vertical-align: top;
  width: 35px;
}

table.prim {
  border-collapse: collapse;
}

table.prim td {
  padding: 0;
}

table.prim td.count {
  font-family: "Georgia";
  font-size: 12pt;
  font-weight: bold;
  color: #7777FF;
  vertical-align: top;
  text-align: center;
  padding-bottom: 3px;
}

table.prim td.prim {
  font-family: "MS PMincho";
  font-size: 22pt;
  color: white;
  padding-left: 0;
  padding-right: 3px;
  vertical-align: middle;
  text-align: center;
  border-top: 1px dotted #555555;
  border-bottom: 1px dotted #555555;
}

table.prim td.kana {
  font-family: "MS PGothic";
  font-size: 8pt;
  color: #707020;
  padding-top: 3px;
  vertical-align: bottom;
  border-top: 1px dotted #555555;
}

table.prim td.eigo {
  font-family: "Tahoma";
  font-size: 8pt;
  color: #888888;
  padding-bottom: 2px;
  vertical-align: middle;
}

